body {
    background: #222;
    color: #fff;
    padding: 0px 10px;
    font-family: monospace;
}
.navstyle {
    justify-content: center;
}
h1 {
    font-family: monospace;
    font-size: 3rem;
    padding: 5px;
    border-bottom: 1px solid #fff;
}
.containersytle {
    text-align: center;
}
form {
    padding: 10px;
}
.img-thumbnail {
    padding: .25rem;
    background-color: transparent;
    border: none;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.btn {
    margin-top: 10px;
}