{% extends "base.html" %}
{% block content %}
<main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/images/home/header.jpg" class="img-fluid" alt="">

                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Good Food, Good Life.</h1>
                        <p>How about your food, is it good enough for you? Do you want to know?</p>
                        <p><a class="btn btn-lg btn-warning shadow-sm" href="#">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/home/mix.jpg" class="img-fluid" alt="">

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Oh yeah, it’s that good. See for yourself.</h1>
                        <p>Fruits and vegetables are low in fat, salt and sugar.</p>
                        <p><a class="btn btn-lg btn-warning shadow-sm" href="#learnmore">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/home/plat.jpg" class="img-fluid" alt="">

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>For the beauty and healthy</h1>
                        <p>Some photos.</p>
                        <p><a class="btn btn-lg btn-warning shadow-sm" href="#">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">
  
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="marketing-row-img" src="/static/images/home/predict.svg" alt="">
    
                <h2>Vitamins and minerals</h2>
                <p>Fruits and vegetables contain many vitamins and minerals that are good for your health.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="marketing-row-img" src="/static/images/home/note.svg" alt="">
    
                <h2>Set a Reminder</h2>
                <p>Get a notofication to remind you or someone you love.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="marketing-row-img" src="/static/images/home/diet.svg" alt="">
    
                <h2>Take a Plan from Profesional</h2>
                <p>Set a time for consultation with your doctor.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
  
        <!-- START THE FEATURETTES -->
    
        <hr class="featurette-divider">

        <div id="learnmore" class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Good Food, Good Life. <span class="text-muted">It’ll blow your mind.</span></h2>
                <p class="lead">Fruit and vegetables should be an important part of your daily diet. They are naturally good and contain vitamins and minerals that can help to keep you healthy. They can also help protect against some diseases.</p>
            </div>
            <div class="col-md-5">
                <img src="/static/images/home/cavocado.jpg" class="img-fluid" alt="">
            </div>
        </div>
    
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Fruits and vegetables are low in fat, salt and sugar. They are a good source of dietary fibre. As part of a well-balanced, regular diet and a healthy, active lifestyle, a high intake of fruit.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="/static/images/home/corange.jpg" class="img-fluid" alt="">
            </div>
        </div>
    
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">You should eat at least five serves of vegetables and two serves of fruit each day. Choose different colours and varieties.</p>
            </div>
            <div class="col-md-5">
                <img src="/static/images/home/cbanana.jpg" class="img-fluid" alt="">
            </div>
        </div>
    
        <hr class="featurette-divider">
    
        <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
</main>

{% endblock %}